  <div class='experience-content'>
    <% if experience.featured? %>
      <div class="ribbon-wrapper">
        <%= link_to challenge_experience_stage_theme_experience_path(@challenge, experience.experience_stage, experience.theme, experience) do %>
          <div class="ribbon ribbon-experience">Featured</div>
        <% end %>
      </div>
    <% end %>

    <div class='row'>
      <% if experience.embed.present? %>
        <div class='col-sm-6'>
          <p><%= experience.description.html_safe %></p>
          <% if experience.file.present? %>
            <p>
              <b><%= fa_icon "file-#{experience.file.file.extension.downcase}-o" %></b>
              <%= link_to experience.file.file.filename, experience.file.url, target: '_blank' %>
            </p>
          <% end %>
        </div>
        <div class='col-sm-6'>
          <%= experience.embed.html_safe %>
        </div>
      <% else %>
        <div class='col-sm-12'>
          <p><%= experience.description.html_safe %></p>
          <% unless experience.link.blank? %>
            <p>
              <b><i class='fa fa-link'></i></b>
              <%= link_to truncate(experience.link, length: 150), experience.link, target: '_blank' %>
            </p>
          <% end %>
          <% if experience.file.present? %>
            <p>
              <b><%= fa_icon "file-#{experience.file.file.extension.downcase}-o" %></b>
              <%= link_to experience.file.file.filename, experience.file.url, target: '_blank' %>
            </p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class='experience-actions'>
    <ul class='actions list-inline'>
      <li id="experience-<%= experience.id %>-like">
        <%= render partial: 'experiences/card/like', locals: { challenge: @challenge, experience_stage: experience.experience_stage, experience: experience }, cache: true %>
      </li>

      <li id='experience-<%= experience.id %>-comments'>
        <%= link_to "<i class='fa fa-comments-o'></i> #{experience.comments_count unless experience.comments_count.zero?}".html_safe, challenge_experience_stage_theme_experience_path(@challenge, experience.experience_stage, experience.theme, experience, anchor: 'experience-comments'), class: 'list-link' %>
      </li>

      <!-- <li id='experience-<%#= experience.id %>-share'> -->
        <%#= link_to 'Share', '#', class: 'list-link', onclick: 'return false;', data: { container: 'body', toggle: 'popover', placement: 'bottom', html: true, trigger: 'focus', delay: {'hide': 1000}, content: "#{render partial: 'layouts/share_popover', locals: { url: challenge_experience_stage_theme_experience_url(@challenge, experience.experience_stage, experience.theme, experience), title: experience.title.html_safe, description: experience.description.html_safe, hashtag: @challenge.hashtag }}"}, cache: true %>
      <!-- </li> -->

      <li class='dropdown'>
        <a id="experience-<%= experience.id %>-other" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" style='right: 0; left: auto;'>
          <i class='fa fa-ellipsis-h'></i>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="experience-<%= experience.id %>-other">
          <% if user_signed_in? && experience.user == current_user %>
            <li><%= link_to 'Edit', '#', 'ng-click' => "experience_#{experience.id}_edit=true", onclick: 'return false;' %></li>
            <li><%= link_to 'Delete', challenge_experience_stage_theme_experience_path(@challenge, experience.experience_stage, experience.theme, experience.id), method: :delete, data: { confirm: "Are you sure you want to delete your experience?"} %></li>
          <% else %>
            <li role="presentation"><%= link_to 'Flag', '#' %></li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
