<div class="row">
  <div class='col-sm-10'>
    <h4 class="suggestion-title text-black">
      <%= link_to suggestion.title, suggestion_path(suggestion), class: 'text-suggestion' %>
      <br>
      <small>
        <%= link_to suggestion.user.display_name, user_path(suggestion.user), class: 'text-lighter' %>
        &bull;
        <%= suggestion.user.display_organization %>
      </small>
    </h4>
  </div>

  <div class='col-sm-2'>
    <p class='suggestion-time'><%= "#{time_ago_in_words(suggestion.created_at)} ago" %></p>
  </div>
</div>

<div class='suggestion-content'>
  <% if suggestion.embed.present? %>
    <div class='row'>
      <div class='col-sm-4'>
        <%= suggestion.embed.html_safe %>
      </div>
      <div class='col-sm-8'>
        <p class='suggestion-description'><%= suggestion.description.html_safe %></p>
      </div>
    </div>
  <% else %>
    <p class='suggestion-description'><%= suggestion.description.html_safe %></p>
    <% unless suggestion.link.blank? %>
      <p class='suggestion-link'><b><i class='fa fa-link'></i> Link:</b> <%= link_to truncate(suggestion.link, length: 150), suggestion.link, target: '_blank' %></p>
    <% end %>
  <% end %>
</div>

<div class="row">
  <div class="col-sm-4">
    <p class='suggestion-user'>How much does this impact you?</p>
  </div>

  <div class="col-sm-5">
    <ul id='suggestion-<%= suggestion.id %>-vote' class='vote'>
      <%= render partial: 'suggestions/card/vote', locals: { suggestion: suggestion }, cache: true %>
    </ul>
  </div>

  <div class="col-sm-3">
    <div class='suggestion-actions'>
      <ul class='actions list-inline text-right'>
      <li id="suggestion-<%= suggestion.id %>-comments" class='suggestion-comments text-right'>
        <%= link_to "<i class='fa fa-comments-o'></i> #{suggestion.comments_count unless suggestion.comments_count.zero?}".html_safe, suggestion_path(suggestion, { anchor: 'suggestion-comments' }) %>
      </li>

      <li id='suggestion-<%= suggestion.id %>-share'>
        <%= link_to "<i class='fa fa-share-alt'></i>".html_safe, '#', class: 'list-link', onclick: 'return false;', data: { container: 'body', toggle: 'popover', placement: 'bottom', html: true, trigger: 'focus', delay: {'hide': 500}, content: "#{render partial: 'layouts/share_popover', locals: { url: suggestion_url(suggestion), title: suggestion.title.html_safe, description: suggestion.description.html_safe, hashtag: '' }}"}, cache: true %>
      </li>

      <% if user_signed_in? && suggestion.user == current_user %>
        <li class='dropdown'>
          <a id="suggestion-<%= suggestion.id %>-other" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" style='right: 0; left: auto;'>
            <i class='fa fa-ellipsis-h'></i>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="suggestion-<%= suggestion.id %>-other">
            <li><%= link_to 'Edit', '#', 'ng-click' => "suggestion_#{suggestion.id}_edit=true", onclick: 'return false;' %></li>
            <li><%= link_to 'Delete', suggestion_path(suggestion), method: :delete, data: { confirm: "Are you sure you want to delete your suggestion?"} %></li>
          </ul>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
