<div id='challenge-nav'>
  <% Challenge::STAGES.each_with_index do |stage, index| %>
    <div class='badge-container'>
      <div class="badge badge-<%= stage[:name] %> <%= "text-default #{stage[:name]}" %>">
        <i class="fa <%= stage[:icon] %> text-<%= stage[:name] %>"></i>
        <div class='headline text-<%= stage[:name] %>'><%= "#{index+1}. #{stage[:headline]}" %></div>
        <div class='headline-xs text-<%= stage[:name] %>'><%= stage[:headline].split(' ').first %></div>
      </div>
      <div class="descriptor-container">
        <div class="descriptor-body"><%= stage[:description] %></div>
      </div>
    </div>
  <% end %>
</div>
