<% provide(:title, 'About') %>

<div id='about-splash'>
  <div class="container">
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>

        <h2>
          Sevenzo is a social impact startup dedicated to bringing together communities to diffuse what works in education so that all students can reach their full potential.
        </h2>

      </div>
    </div>
  </div>
</div>

<div id='about-story'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>

        <div class='row'>
          <div class='col-md-5 col-md-offset-1'>
            <div class='row row-images'>
              <% (1..6).each do |number| %>
                <div class='col-md-6 col-sm-2 col-xs-4'>
                  <%= image_tag "about/story/#{number}.png", width: '100%' %>
                </div>
              <% end %>
            </div>
          </div>

          <div class='col-md-5'>
            <p>We have talked to thousands of educators who feel isolated and are eager for a space to have peer-to-peer conversations about what works in education on a national scale. Many cited Twitter as the "best PD they’ve ever had" but they are often frustration with scheduled chat times and, sometimes intimidating, rapid-fire Twitter chat formats.  Also, many educators are often overwhelmed by the amount of ‘noise’ on social media feeds. In this online community educators, like you, can collaborate anytime and anywhere around topics that have highest potential for impact. Think of this platform as a community tent. A place where both what works, and how it works, can be discovered.</p>

            <p>The Sevenzo model was first piloted in 2015 through the Bill & Melinda Gates Foundation as the <%= link_to 'Redesign Challenge', 'https://redesignchallenge.org', target: '_blank' %>, engaging thousands of educators from across the country around a problem of practice. Founded in Pittsburgh in 2016, the new organization is building on the early traction of this pilot.</p>

            <p class='text-large'><%= link_to "Join our movement", new_user_registration_path %> as we bring educators together around the biggest challenges and most promising ideas in education.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div id='about-team'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>

        <p class='section-title-alt'>Our Team</p>
        <% t('about.team').each_slice(3) do |people| %>
          <div class='row row-media'>
            <% people.each do |person| %>
              <div class='col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1'>
                <div class="media media-team">
                  <div class='media-left'>
                    <%= link_to image_tag("about/team/#{person[:key]}.png", class: 'img-circle', width: '200px'), '#', data: { toggle: 'modal', target: "#team-#{person[:key]}" } %>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">
                      <%= link_to person[:name], '#', data: { toggle: 'modal', target: "#team-#{person[:key]}" } %>
                      <br>
                      <small><%= person[:title] %></small>
                    </h4>
                    <p>
                      <%= link_to "<i class='fa fa-linkedin-square fa-1-25x'></i>".html_safe, person[:linkedin], target: '_blank' %>
                      &nbsp;
                      <%= link_to "<i class='fa fa-twitter-square fa-1-25x'></i>".html_safe, person[:twitter], target: '_blank', class: 'tooltip-hover', title: "@#{person[:twitter].split('/').last}", data: {toggle: 'tooltip', placement: 'top'} %>
                      &nbsp;
                      <%= mail_to person[:email], "<i class='fa fa-envelope fa-1-25x'></i>".html_safe, target: '_blank', class: 'tooltip-hover', title: person[:email], data: {toggle: 'tooltip', placement: 'top'} %>
                    </p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

        <hr class='break-alt'>

        <p class='section-title-alt'>Our Board</p>
        <% t('about.board').each_slice(4) do |people| %>
          <div class='row row-media'>
            <% people.each do |person| %>
              <div class='col-sm-4 text-center'>
                <%= link_to image_tag("about/board/#{person[:key]}.png", class: 'img-circle', width: '100px'), '#', data: { toggle: 'modal', target: "#board-#{person[:key]}" } %>

                <h4>
                  <%= link_to person[:name], '#', data: { toggle: 'modal', target: "#board-#{person[:key]}" } %><br>
                  <small>
                    <%= person[:title] %>
                    <br>
                    <%= person[:organization] %>
                  </small>
                </h4>
              </div>
            <% end %>
          </div>
        <% end %>

        <hr class='break-alt'>

        <p class='section-title-alt'>Our Advisors</p>
        <% t('about.advisors').each_slice(4) do |people| %>
          <div class='row row-media'>
            <% people.each do |person| %>
              <div class='col-md-3 col-sm-6'>
                <div class="media">
                  <div class='media-left'>
                    <%= link_to image_tag("about/advisors/#{person[:key]}.png", class: 'img-circle', style: 'width:60px'), person[:link], target: '_blank' %>
                  </div>
                  <div class="media-body">
                    <h5 class="media-heading">
                      <%= link_to person[:name], person[:link], target: '_blank' %><br>
                      <small>
                        <%= person[:title] %>
                        <br>
                        <%= person[:organization] %>
                      </small>
                    </h5>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>

<div id='about-press'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>

        <p class='section-title-alt'>Sevenzo is supported by:</p>
        <% t('about.partners').each_slice(3) do |partners| %>
          <div class='row row-media'>
            <% partners.each do |partner| %>
              <div class='col-md-4 col-sm-6'>
                <div class="center-block text-center">
                  <%= link_to image_tag("about/partners/#{partner[:key]}.png", width: '75%'), partner[:link], target: '_blank' %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

        <hr class='break-alt'>

        <p class='section-title-alt'>In the news...</p>

        <div id="carousel-press" class="carousel slide" data-interval='false'>

          <ol class="carousel-indicators">
            <% t('about.press').each_with_index do |press, index| %>
              <li data-target="#carousel-campaigns" data-slide-to="<%= index %>" class="<%= 'active' if index.zero? %>">
              </li>
            <% end %>
          </ol>

          <div class="carousel-inner">
            <% t('about.press').each_with_index do |press, index| %>
              <div class='item <%= 'active' if index.zero? %>'>
                <div class='well well-white center-block text-center'>

                  <blockquote class='quote'>
                    <div>"<%= press[:snippet].html_safe %>"</div>
                    <footer class='text-center'>
                      <%= "#{press[:publication]}. #{link_to press[:date], press[:link], target: '_blank'}".html_safe %>
                    </footer>
                  </blockquote>

                </div>
              </div>
            <% end %>
          </div>

          <a class="left carousel-control" href="#carousel-press" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-press" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>

<% t('about.board').each do |person| %>
  <div class="modal fade" id="<%= "board-#{person[:key]}" %>">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class='text-large text-center'><%= person[:name] %></div>
        </div>
        <div class='modal-body'>
          <p><%= person[:bio].html_safe %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% t('about.team').each do |person| %>
  <div class="modal fade" id="<%= "team-#{person[:key]}" %>">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class='text-large text-center'><%= person[:name] %></div>
        </div>
        <div class='modal-body'>
          <p><%= person[:bio].html_safe %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
