<% provide(:title, 'About') %>

<div id='about-splash'>
  <div class="container">
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>

        <h2>
          Sevenzo is a social impact startup dedicated to bringing together communities to diffuse what works in education so that all students can reach their full potential.
        </h2>

      </div>
    </div>
  </div>
</div>

<div id='about-story'>
  <div class='container padding-xxxl-vertical'>
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>

        <div class='row' style='margin-bottom:20px'>
          <div class='col-md-5'>
            <%= image_tag "about/teachers2.jpg", width: '100%' %>
          </div>

          <div class='col-md-7'>
            <p class='text-medium'>While innovative ideas, practices and tools have the potential to transform learning for all students and close the achievement gap, many of these are not sticking or spreading beyond a few pockets of excellence. Sevenzo provides a space where educators can openly exchange promising practice, translate that practice into personal action and test that practice in a safe environment with the support of other like-minded people.</p>

            <p class='text-medium'>The Sevenzo model was first piloted in 2015 through the Bill & Melinda Gates Foundation as the <%= link_to 'Redesign Challenge', 'https://redesignchallenge.org', target: '_blank' %>, engaging thousands of educators from across the country around a problem of practice. Founded in Pittsburgh in 2016, the new organization is building on the early traction of this pilot. Join us to bring educators together around the biggest challenges and most promising ideas in education.</p>

            <p class='text-medium'><%= link_to "Join our movement", new_user_registration_path %> and lend your voice to the conversation.</p>
          </div>
        </div>

        <hr class='break'>

        <h2 class="section-title" style='margin-bottom:1em'>Why <%= ENV.fetch('APP_NAME') %>?</h2>

        <div class='row' style='margin-bottom:20px'>
          <div class='col-md-7'>
            <p class='text-medium'>We have talked to thousands of educators who have told us that they feel isolated and are looking for a space where peer-to-peer conversations about what works in education are taking place on a national scale. Many educators cited Twitter as the "best PD they’ve ever had" but they often expressed frustration with scheduled chat times and, sometimes intimidating, rapid-fire Twitter chat formats. In addition, educators were often overwhelmed by the amount of ‘noise’ on social media feeds. In this online community educators, like you, can collaborate anytime and anywhere around topics that have highest potential for impact. Think of this platform as a community tent. A place where both what works, and how it works, can be discovered.</p>
          </div>

          <div class='col-md-5'>
            <%= image_tag "about/teachers.jpg", width: '100%' %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div id='about-team'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>

        <p class='section-title-alt'>Our Team</p>
        <% t('about.team').each_slice(2) do |people| %>
          <div class='row row-media'>
            <% people.each do |person| %>
              <div class='col-sm-5 col-sm-offset-1'>
                <div class="media media-team">
                  <div class='media-left'>
                    <%= link_to image_tag("about/team/#{person[:key]}.png", class: 'img-circle', width: '200px'), '#', data: { toggle: 'modal', target: "#team-#{person[:key]}" } %>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">
                      <%= link_to person[:name], '#', data: { toggle: 'modal', target: "#team-#{person[:key]}" } %>
                      <br>
                      <small><%= person[:title] %></small>
                    </h4>
                    <p>
                      <%= link_to "<i class='fa fa-linkedin-square fa-1-25x'></i>".html_safe, person[:linkedin], target: '_blank' %>
                      &nbsp;
                      <%= link_to "<i class='fa fa-twitter-square fa-1-25x'></i>".html_safe, person[:twitter], target: '_blank', class: 'tooltip-hover', title: "@#{person[:twitter].split('/').last}", data: {toggle: 'tooltip', placement: 'top'} %>
                      &nbsp;
                      <%= mail_to person[:email], "<i class='fa fa-envelope fa-1-25x'></i>".html_safe, target: '_blank', class: 'tooltip-hover', title: person[:email], data: {toggle: 'tooltip', placement: 'top'} %>
                    </p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

        <hr class='break-alt'>

        <p class='section-title-alt'>Our Board</p>
        <% t('about.board').each_slice(4) do |people| %>
          <div class='row row-media'>
            <% people.each do |person| %>
              <div class='col-sm-4 text-center'>
                <%= link_to image_tag("about/board/#{person[:key]}.png", class: 'img-circle', width: '100px'), '#', data: { toggle: 'modal', target: "#board-#{person[:key]}" } %>

                <h4>
                  <%= link_to person[:name], '#', data: { toggle: 'modal', target: "#board-#{person[:key]}" } %><br>
                  <small>
                    <%= person[:title] %>
                    <br>
                    <%= person[:organization] %>
                  </small>
                </h4>
              </div>
            <% end %>
          </div>
        <% end %>

        <hr class='break-alt'>

        <p class='section-title-alt'>Our Advisors</p>
        <% t('about.advisors').each_slice(4) do |people| %>
          <div class='row row-media'>
            <% people.each do |person| %>
              <div class='col-md-3 col-sm-6'>
                <div class="media">
                  <div class='media-left'>
                    <%= link_to image_tag("about/advisors/#{person[:key]}.png", class: 'img-circle', style: 'width:60px'), person[:link], target: '_blank' %>
                  </div>
                  <div class="media-body">
                    <h5 class="media-heading">
                      <%= link_to person[:name], person[:link], target: '_blank' %><br>
                      <small>
                        <%= person[:title] %>
                        <br>
                        <%= person[:organization] %>
                      </small>
                    </h5>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>

<div id='about-press'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>

        <p class='section-title-alt'>Sevenzo is supported by:</p>
        <% t('about.partners').each_slice(3) do |partners| %>
          <div class='row row-media'>
            <% partners.each do |partner| %>
              <div class='col-md-4 col-sm-6'>
                <div class="center-block text-center">
                  <%= link_to image_tag("about/partners/#{partner[:key]}.png", width: '75%'), partner[:link], target: '_blank' %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

        <hr class='break-alt'>

        <p class='section-title-alt'>In the news...</p>

        <div id="carousel-press" class="carousel slide" data-interval='false'>

          <ol class="carousel-indicators">
            <% t('about.press').each_with_index do |press, index| %>
              <li data-target="#carousel-campaigns" data-slide-to="<%= index %>" class="<%= 'active' if index.zero? %>">
              </li>
            <% end %>
          </ol>

          <div class="carousel-inner">
            <% t('about.press').each_with_index do |press, index| %>
              <div class='item <%= 'active' if index.zero? %>'>
                <div class='well well-white center-block text-center'>

                  <blockquote class='quote'>
                    <div>"<%= press[:snippet].html_safe %>"</div>
                    <footer class='text-center'>
                      <%= "#{press[:publication]}. #{link_to press[:date], press[:link], target: '_blank'}".html_safe %>
                    </footer>
                  </blockquote>

                </div>
              </div>
            <% end %>
          </div>

          <a class="left carousel-control" href="#carousel-press" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-press" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>

<% t('about.board').each do |person| %>
  <div class="modal fade" id="<%= "board-#{person[:key]}" %>">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class='text-large text-center'><%= person[:name] %></div>
        </div>
        <div class='modal-body'>
          <p><%= person[:bio].html_safe %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% t('about.team').each do |person| %>
  <div class="modal fade" id="<%= "team-#{person[:key]}" %>">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class='text-large text-center'><%= person[:name] %></div>
        </div>
        <div class='modal-body'>
          <p><%= person[:bio].html_safe %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
