<style type="text/css">
#landing-splash {
    background-image:url('<%= asset_path("Home_hero970.png") %>');
}
@media only screen and (max-width: 414px) {
  #landing-splash {
      background-image:url('<%= asset_path("Home_hero500.png") %>');
  }
}
</style>

<div id='landing-splash'>
  <div class='opacity-content'>
          <h2>
            Inspiring educators to find and share what works
          </h2>

          <% if @challenge %>
            <% if user_signed_in? %>
              <% btn_path = challenge_active_stage_path(@challenge); btn_text = "Return to Challenge" %>
            <% else %>
              <% btn_path = challenges_path; btn_text = "Join the movement" %>
            <% end %>
          <% else %>
            <% btn_path = about_path; btn_text = "Learn more" %>
          <% end %>

          <div class='text-center center-block'>
            <%= link_to btn_text, btn_path, class: 'btn btn-lg btn-rounded btn-longer btn-info half-margin-bottom ' %>
          </div>
  </div>
</div>

<div id='landing-what'>
  <div class='container padding-xxxl-vertical'>
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>

        <p class='section-description text-xlarge' style='margin-bottom:2em'>Sevenzo is a space where educators can openly exchange promising practice, translate that practice into personal action, and test that practice in a safe environment with the support of other like-minded people.</p>

        <%= render partial: 'home/work' %>
      </div>
    </div>
  </div>
</div>

<div id='landing-stages'>
  <div class='container padding-xxxl-vertical'>
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>

        <p class='section-description text-xlarge' style='margin-bottom:2em;'>We challenge our community to come together around issues that deeply impact young people's ability to learn and thrive.  Our challenges go through four phases:</p>


        <%= render partial: 'home/process' %>

      </div>
    </div>
  </div>
</div>

<%= render partial: 'challenges/overview', locals: { challenge: @challenge }, cache: true %>

<div id='landing-suggest'>
  <div class="container padding-xxxl-vertical">
    <div class="row">
      <div class='col-md-10 col-md-offset-1'>

        <h2 class="section-title" style='margin-bottom:10px'>What challenges should we tackle next?</h2>
        <p class='section-description' style='margin-bottom:20px'><%= link_to "Suggest a challenge", suggestions_path, class: 'engagement-link' %> that’s important to you, and <%= link_to "vote on challenges", suggestions_path, class: 'engagement-link' %> suggested by others.</p>
      </div>
    </div>
  </div>
</div>

<div id='landing-community'>
  <div class='container padding-xxxl-vertical'>
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>

        <h2 class="section-title">Our Community</h2>
        <p class='section-description' style='margin-bottom: 2em'>It takes a village to tackle the most challenging barriers to young people’s ability to learn and thrive. As such, we welcome all educators including classroom teachers, teacher leaders, coaches, administrators, support staff and out of school mentors into this online community.</p>

        <div class='row'>
          <% t('home.testimonials').each do |testimonial| %>
            <div class='col-sm-6'>
              <div class='well well-testimonial'>
                <p class='text-lighter text-center text-green'>
                  <i class='fa fa-quote-left fa-2x'></i>
                  &nbsp;
                  <%= testimonial[:quote] %>
                </p>
              </div>

              <div class="media text-center light-gray-text">
                <%= image_tag "home/#{testimonial[:key]}.png", class: 'img-rounded half-margin-bottom' %>
                <div class="media-body">
                  <p>
                    <strong><%= testimonial[:name] %></strong><br>
                    <% testimonial[:titles].each do |title| %>
                      <%= title %><br>
                    <% end %>
                    <%= testimonial[:organization] %><br>
                    <abbr><i class='fa fa-twitter-square fa-1-25x'></i></abbr>
                    <%= link_to "@#{testimonial[:twitter]}", "https://twitter.com/intent/user?screen_name=#{testimonial[:twitter]}", target: '_blank', style: 'light-gray-text' %>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
