<p class='auth-switch text-center'>Don't have an account? <%= switch_link %></p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.hidden_field :remember_me, value: true %>

  <div class='row row-fields'>
    <div id='email' class='col-sm-5'>
      <div class='form-group'>
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, required: true, class: 'form-control input-lg' %>
      </div>

      <div class='form-group'>
        <%= f.label :password %>
        <%= f.password_field :password, required: true, autocomplete: 'off', class: 'form-control input-lg' %>
        <small class='auth-helper'><%= link_to "Forgot your password?", new_user_password_path %></small>
      </div>

      <%= f.submit "Sign In", class: 'btn btn-info btn-block btn-lg' %>
    </div>

    <div id='or' class='col-sm-2'>
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-stack-1x fa-inverse">or</i>
      </span>
    </div>

    <div id='oauth' class='col-sm-5'>
      <label>Sign in with Facebook</label>
      <div class='form-group'>
        <%= link_to user_facebook_omniauth_authorize_path, class: "btn btn-block btn-lg btn-social btn-facebook" do %>
           <span class="fa fa-facebook"></span> Sign In with Facebook
        <% end %>
      </div>

      <!-- <div class='form-group'>
        <%#= link_to user_twitter_omniauth_authorize_path, class: "btn btn-block btn-lg btn-social btn-twitter" do %>
           <span class="fa fa-twitter"></span> Sign In with Twitter
        <%# end %>
      </div> -->
    </div>
  </div>
<% end %>
