<div id='challenge-header' class='<%= controller_name %>'>
  <div id='challenge-nav' style='<%= challenge_nav_margin(@challenge) %>'>
    <% Challenge::STAGES.each_with_index do |stage, index| %>

      <%= link_to eval("challenge_#{stage[:name]}_stage_path(@challenge, @challenge.#{stage[:name]}_stage)") do %>
        <span class="badge badge-<%= stage[:name] %> <%= @challenge.active_stage if @challenge.stage_number >= stage[:number] %> <%= 'selected' if eval("params[:#{stage[:name]}_stage_id] || @#{stage[:name]}_stage") %>">

          <% if stage[:name] == @challenge.active_stage %>
              <i class="fa <%= stage[:icon] %> fa-4x text-<%= stage[:name] %>"></i>
          <% else %>
            <i class='fa <%= stage[:icon] %> fa-4x'></i>
          <% end %>

          <span class='headline text-<%= stage[:name] if @challenge.stage_number == stage[:number] %>'><%= stage[:headline] %></span>
        </span>
      <% end %>

    <% end %>
  </div>
</div>
