<div id='challenge-header' class='<%= controller_name %>'>
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">

        <div id='challenge-nav'>
          <% Challenge::STAGES.each_with_index do |stage, index| %>
            <%= link_to eval("challenge_#{stage[:name]}_stage_path(@challenge, @challenge.#{stage[:name]}_stage)"), class: "badge-container #{stage[:name]}-bg #{ 'selected' if @challenge.stage_number > 4 || eval("params[:#{stage[:name]}_stage_id] || @#{stage[:name]}_stage") }" do %>

              <div class="badge badge-<%= stage[:name] %> <%= "text-default #{@challenge.active_stage}" if @challenge.stage_number >= stage[:number] %>">

                <% if stage[:name] == @challenge.active_stage %>
                    <i class="fa <%= stage[:icon] %> text-<%= stage[:name] %>"></i>
                <% else %>
                  <i class='fa <%= stage[:icon] %>'></i>
                <% end %>

                <div class='headline text-<%= stage[:name] if @challenge.stage_number == stage[:number] %>'><%= stage[:headline] %></div>
                <div class='headline-xs text-<%= stage[:name] if @challenge.stage_number == stage[:number] %>'><%= stage[:headline].split(' ').first %></div>
              </div>

              <div class="descriptor-container">

                <% if stage[:name] == @challenge.active_stage %>
                  <div class="in-progress">In progress</div>
                <% elsif stage[:number] < @challenge.stage_number %>
                  <!-- We don't want to display 0 counts. -->
                  <% activity_count = eval("@challenge.#{stage[:name]}_stage.#{stage[:name].pluralize}.size") %>
                  <% if activity_count > 0 %>
                    <div class="descriptor-count"><%= activity_count %></div>
                    <div class="descriptor-body"><%= "#{stage[:alias].pluralize.capitalize} #{stage[:action]}" %></div>
                  <% end %>
                <% end %>
              </div>

            <% end %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
