<%= render partial: 'challenges/header', cache: true %>

<%= render partial: 'challenges/overview', locals: { challenge: @challenge }, cache: true %>

<div id='challenge-details'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>

        <% unless @challenge.background.empty? && @challenge.outcome.empty? && @challenge.help.empty? %>
          <div class="row">
            <% unless @challenge.background.empty? %>
              <div class="col-sm-4">
                <h3 class='text-bold'>The Challenge</h3>
                <p><%= @challenge.background.html_safe %></p>
              </div>
            <% end %>
            <% unless @challenge.outcome.empty? %>
              <div class="col-sm-4">
                <h3 class='text-bold'>The Goal</h3>
                <p><%= @challenge.outcome.html_safe %></p>
              </div>
            <% end %>
            <% unless @challenge.help.empty? %>
              <div class="col-sm-4">
                <h3 class='text-bold'>Your Role</h3>
                <p><%= @challenge.help.html_safe %></p>
              </div>
            <% end %>
          </div>

          <div class='text-center center-block'>
            <% btn_path = @challenge.active_stage.present? ? challenge_active_stage_path(@challenge) : '#' %>
            <%= link_to "Join the conversation", btn_path, class: 'btn btn-lg btn-longer btn-rounded btn-info', 'du-smooth-scroll' => 'true' %>
          </div>
          <hr class='break'>
        <% end %>

        <%= @challenge.description.html_safe if @challenge.description.present? %>

      </div>
    </div>
  </div>
</div>

<div id='challenge-panel'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>

        <div class="row">
          <h2 class="text-center">Our community guides</h2>

          <div class='col-sm-10 col-sm-offset-1'>
            <p class='section-description'><%= @challenge.panel.about.html_safe %></p>
          </div>
        </div>

        <% @challenge.panelists.each_slice(4) do |panelists| %>
          <div class='row row-panelists'>
            <% panelists.each do |panelist| %>
              <div class="col-sm-3" style='margin-bottom:2em'>
                <%= link_to image_tag(panelist.avatar.profile.url, class: 'img-circle', style: 'max-width:100px'), '#', data: { toggle: 'modal', target: "#panelist-#{panelist.id}" } %>
                <div class="user-caption">
                  <p class='user-name'><%= link_to panelist.name, "#", data: { toggle: 'modal', target: "#panelist-#{panelist.id}" }, class: 'text-default text-bolder' %></p>
                  <p class='user-title'><%= panelist.title %></p>
                  <p class='user-title'><%= panelist.organization %></p>
                </div>
              </div>

              <div class="modal fade" id="<%= "panelist-#{panelist.id}" %>">
                <div class="modal-dialog modal-md">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <p class='panelist-title'>About <%= panelist.name %></p>
                    </div>
                    <div class='modal-body'>
                      <p class='panelist-bio'><%= panelist.bio.present? ? panelist.bio.html_safe : "Not yet provided." %></p>
                    </div>
                    <div class='modal-footer'>
                      <div class='text-center'><%= link_to "View Profile", user_path(panelist) %></div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>

<div id='challenge-what-next'>
  <div class="container">
    <hr class='break' style="width:100%;margin-top:0px">
    <div class='row'>
      <div class='col-sm-11 col-sm-offset-1'>
        <h2 class='section-title'>What challenges should we tackle next?</h2>
        <p class='section-description'>
          <%= link_to "Suggest a challenge", suggestions_path, class: "engagement-link" %> that's important to you, and <%= link_to "vote on challenges", suggestions_path, class: "engagement-link" %> suggested by others.
        </p>
      </div>
    </div>
  </div>
</div>
