<p class='auth-switch text-center'>Already have an account? <%= switch_link %></p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.hidden_field :remember_me, value: true %>
  <%= f.hidden_field :referrer_id, value: session[:referrer_id] %>

  <div class='row row-errors'>
    <div class='col-sm-8 col-sm-offset-2'>
      <%= devise_error_messages! %>
    </div>
  </div>

  <div class='row row-fields'>
    <div id='email' class='col-md-5'>
      <div class='row'>
        <div class='col-xs-6 form-group'>
          <%= f.label :first_name %>
          <%= f.text_field :first_name, autofocus: true, required: true, class: 'form-control input-lg' %>
        </div>
        <div class='col-xs-6 form-group'>
          <%= f.label :last_name %>
          <%= f.text_field :last_name, required: true, class: 'form-control input-lg' %>
        </div>
      </div>

      <div class='form-group'>
        <%= f.label :email %>
        <%= f.email_field :email, required: true, placeholder: 'Please enter your email address', class: 'form-control input-lg' %>
      </div>

      <div class='form-group'>
        <%= f.label :password %>
        <%= f.password_field :password, required: true, autocomplete: 'off', placeholder: 'Please choose a password', class: 'form-control input-lg' %>
      </div>
      <br>
      <%= f.submit "Sign Up", class: 'btn btn-info btn-block btn-lg' %>
    </div>

    <div id='or' class='col-md-2'>
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-stack-1x fa-inverse">or</i>
      </span>
    </div>

    <div id='oauth' class='col-md-5'>
      <label>Sign up with Facebook</label>
      <div class='form-group'>
        <%= link_to user_facebook_omniauth_authorize_path, class: "btn btn-block btn-lg btn-social btn-facebook" do %>
           <span class="fa fa-facebook"></span> Sign Up with Facebook
        <% end %>
      </div>

      <div class='form-group'>
        <%= link_to user_twitter_omniauth_authorize_path, class: "btn btn-block btn-lg btn-social btn-twitter" do %>
          <span class="fa fa-twitter"></span> Sign Up with Twitter
        <% end %>
      </div>
    </div>
  </div>

  <hr class='short'>

  <div class='row row-disclaimer'>
    <div class='col-sm-8 col-sm-offset-2'>
      <div class='auth-disclaimer text-small'>By signing up, you are agreeing to our <%= link_to 'Terms and Conditions', terms_path, target: '_blank' %> and <%= link_to 'Privacy Policy', privacy_path, target: '_blank' %>.</div>
    </div>
  </div>
<% end %>
