<footer id='bottom-footer'>
  <div class="container">
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>

        <div class='row'>
          <div class='col-sm-3'>
            <div id='app-name'><%= link_to ENV.fetch('COMPANY_NAME'), root_path %></div>
            <ul class='list-footer'>
              <li><i class='fa fa-copyright'></i> <%= Date.today.year.to_s %></li>
              <li><%= link_to 'Terms and Conditions', terms_path, class: 'links-left' %></li>
              <li><%= link_to 'Privacy Policy', privacy_path, class: 'links-left' %></li>
            </ul>
          </div>

          <div class='col-sm-2'>
            <ul class='list-footer'>
              <li><%= link_to "Challenges", challenges_path, class: 'links-center' %></li>
              <li><%= link_to "About Us", about_path, class: 'links-center' %></li>
              <li><%= link_to "Our Blog", ENV.fetch('MEDIUM_URL'), class: 'links-center' %></li>
              <li><%= link_to "Guidelines", guidelines_path, class: 'links-center' %></li>
              <li><%= link_to "Contact Us", contact_path, class: 'links-center' %></li>
            </ul>
          </div>

          <div id='footer-social' class='col-sm-6 col-sm-offset-1'>
            <h3>Know someone who may want to join the discussion?</h3>
            <p>The more the merrier! Share our platform to help us get the best suggestions from educators like you.</p>
            <% hashtag = @challenge ? @challenge.hashtag : nil %>
            <%= render partial: 'layouts/share_links', locals: { url: root_url, hashtag: hashtag, tweet: "What are simple ways teachers can ensure students feel like they belong? Share your ideas at", title: "Share Your Insights on how to create a sense of belonging for students in school", description: "Are you an educator who’s been thinking about how to create a sense of belonging for all of your students? Help revolutionize how educators across America come together to identify belonging bright spots and help spread them across more places.", subject: "Share Your Insights on how to create a sense of belonging for students in school!", ul_class: 'list-inline', li_class: 'share-buttons' }, cache: true %>
          </div>
        </div>

      </div>
    </div>
  </div>
</footer>
