<% url = user_signed_in? ? "#{url}?referrer_id=#{current_user.id}" : url %>

<div class="btn-group btn-block" style='margin-bottom: 10px'>
  <button type="button" class="btn btn-block btn-fa btn-sm btn-rounded btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-share-alt"></i> Share</button>
  <ul class="dropdown-menu" role='menu'>
    <li role="presentation">
      <%= link_to "<i class='fa fa-twitter'></i> Twitter".html_safe, "https://twitter.com/intent/tweet?text=#{url_encode(strip_tags(title))}&url=#{url_encode(url)}&hashtags=#{hashtag}", target: '_blank' %>
      <meta name="twitter:title" content="<%= strip_tags(title) %>" />
      <meta name="twitter:description" content="<%= strip_tags(description) %>" />
    </li>
    <li role="presentation">
      <%= link_to "<i class='fa fa-facebook'></i> Facebook".html_safe, "https://www.facebook.com/dialog/share?app_id=#{ENV.fetch('FACEBOOK_APP_ID')}&display=popup&href=#{url_encode(url)}&redirect_uri=#{url_encode(url)}", onclick: "javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=600');return false;" %>
      <meta property="og:title" content="<%= strip_tags(title) %>" />
      <meta property="og:description" content="<%= strip_tags(description) %>" />
    </li>
    <li role="presentation">
      <%= link_to "<i class='fa fa-linkedin'></i> LinkedIn".html_safe, "http://www.linkedin.com/shareArticle?mini=true&url=#{url_encode(url)}&title=#{url_encode(strip_tags(title))}&summary=#{url_encode(strip_tags(description))}", onclick: "javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=600');return false;" %>
    </li>
    <li role="presentation">
      <%= mail_to '', "<i class='fa fa-envelope'></i> Email".html_safe, {subject: "Check out #{strip_tags(title)} on #{ENV.fetch('APP_NAME')}", body: "Here's the URL: #{url}", onclick: "javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=600');return false;"} %>
    </li>
  </ul>
</div>
