<% url = user_signed_in? ? "#{url}?referrer_id=#{current_user.id}" : url %>

<ul class='share-links'>
  <li>
    <%= link_to "<i class='fa fa-twitter fa-1-5x'></i>".html_safe, "https://twitter.com/intent/tweet?text=#{url_encode(tweet)}&url=#{url_encode(url)}&hashtags=#{hashtag}", target: '_blank' %>
  </li>
  <li>
    <%= link_to "<i class='fa fa-facebook fa-1-5x'></i>".html_safe, "https://www.facebook.com/dialog/share?app_id=811290972280440&display=popup&href=#{url_encode(url)}&redirect_uri=#{url_encode(url)}", onclick: "javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=600');return false;" %>
    <meta property="og:title" content="<%= strip_tags(title) %>" />
    <meta property="og:description" content="<%= strip_tags(description) %>" />
  </li>
  <li>
    <%= link_to "<i class='fa fa-linkedin fa-1-5x'></i>".html_safe, "http://www.linkedin.com/shareArticle?mini=true&url=#{url_encode(url)}&title=#{url_encode(strip_tags(title))}&summary=#{url_encode(strip_tags(description))}", onclick: "javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=600');return false;" %>
  </li>
  <li>
    <%= mail_to '', "<i class='fa fa-envelope fa-1-5x'></i>".html_safe, {subject: "#{strip_tags(title)}", body: "#{strip_tags(description)} #{url}", onclick: "javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=600');return false;"} %>
  </li>
</ul>

<hr class='short'>

<h2 class="section-title text-submit">Follow Us</h2>

<div class='center-block text-center'>
  <a href="<%= ENV.fetch('TWITTER_URL') %>" class="twitter-follow-button" data-show-count="true" data-size="large">Follow @<%= ENV.fetch('TWITTER_URL').split('/').last %></a>

  <div class="fb-like" data-href="<%= ENV.fetch('FACEBOOK_URL') %>" data-width="300" data-layout="standard" data-action="like" data-show-faces="true" data-share="true" style='top:10px'></div>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
