<!DOCTYPE html>
<html>

  <head>
    <title><%= full_title(yield(:title)) %></title>
    <base href="/">
    <meta name="google-site-verification" content="u4p4qpOBjgw-UwR8pXo5VrVxTEHdDqY-WvZuiXdtw_0" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
    <%= favicon_link_tag 'favicon.png', type: 'image/png', rel: 'apple-touch-icon' %>

    <%= render partial: 'layouts/shim' %>
    <%= render partial: 'layouts/google' if ENV['GA_KEY'].present? %>
    <%= render partial: 'layouts/heap' if ENV['HEAP_APP_ID'].present? %>
    <%= render partial: 'layouts/twitter' %>
    <%= render partial: 'shared/cards/facebook' %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render partial: 'layouts/facebook' %>
    <%= render partial: 'layouts/header' unless @hide_navs %>
    <%= render partial: 'layouts/flashes' unless @hide_navs %>

    <div class='page-wrap'>
      <%= yield %>
    </div>

    <%= render partial: 'layouts/footer' unless @hide_navs %>

    <script>
      angular.element(document).ready(function() {angular.bootstrap(document, ['CPApp']);});
    </script>
  </body>

</html>
